<div class = "bg-box">
    <div class = "gradient-img">
    </div>
    <app-header ></app-header>
    <div class="main">
      <div class="login">
        <form class = "form-box text-center" [formGroup]="loginForm"  (ngSubmit)="login()">
          <div class = "d-flex flex-column justify-content-center login-box">
            <label for="chk" aria-hidden="true" class = "mb-4 text-white">Login</label>
            <input formControlName = "email" type="email" name="email" placeholder="Email" class = "mb-4 email" >
            <input formControlName = "password" type="password" name="pswd" placeholder="Password" class = "mb-4 password" >
            <button class = "btn  button mt-4" >Sign In</button>
          </div>
          <div class = "d-flex flex-row justify-content-start  remember">
            <input type = "checkbox" class = "chk-box ">
            <label for="chk-box" class = "remember-me " >Remember me</label>
          </div>
        </form>
      </div>
      <div class = "login-down-box">
        <div class = "d-flex flex-row login-top">
          <p class = "text"> New to Netflix?
          </p>
          <a routerLink="/signup" class = "a" >Sing up now</a>
        </div>
        <div class = "">
          <p>This page is protected by Google reCAPTCHA to ensure you're not a bot.
          <a href="#">Learn more</a>
        </p>
        </div>
      </div>
  </div>
</div>



<!-- (click)="toggle()" -->
<!-- <app-header [isUserLoggedIn]="loggedIn" (loginEvent)="logIn()" (logoutEvent)="logOut()"></app-header> -->
